src/main/resources/xsd/basetypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="http://basetypes.kfd.gpb.ru" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="ComponentID" type="bas:SourceType" xmlns:bas="http://basetypes.kfd.gpb.ru"></xs:element>
    <xs:element name="LocalID" type="xs:string"></xs:element>

    <xs:simpleType name="UUIDType">
        <xs:restriction base="xs:string">
            <xs:length value="36" fixed="true" />
            <xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[8-9a-bA-B][0-9a-fA-F]{3}-[0-9a-fA-F]{12}" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CustomBooleanType" >
        <xs:restriction base="xs:string">
            <xs:enumeration value="Yes" />
            <xs:enumeration value="No"/>
        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="SourceType" >
        <xs:restriction base="xs:string">
            <xs:enumeration value="CFT.RKO" />
            <xs:enumeration value="DIASOFT.BANK4X4" />
            <xs:enumeration value="Custis.GL" />
            <xs:enumeration value="CFT.RC" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="LocalIDSetType">
        <xs:sequence>
            <xs:element ref="bas:LocalID" xmlns:bas="http://basetypes.kfd.gpb.ru"/>
            <xs:element ref="bas:ComponentID" xmlns:bas="http://basetypes.kfd.gpb.ru"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>