src/main/webapp/xsd/messageheader.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="http://messageheader.kfd.gpb.ru" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:import schemaLocation="basetypes.xsd" namespace="http://basetypes.kfd.gpb.ru"/>
    <xs:import schemaLocation="w3.xsd" namespace="http://www.w3.org/2000/09/xmldsig#"/>

    <xs:element name="Version" type="xs:string"/>
    <xs:element name="ObjectLastChanged" type="xs:dateTime"/>
    <xs:element name="Priority">
        <xs:simpleType>
            <xs:restriction base="xs:integer">
                <xs:minInclusive value="0"/>
                <xs:maxInclusive value="10"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="Destination" type="mes:DestinationType" xmlns:mes="http://messageheader.kfd.gpb.ru"/>
    <xs:element name="Security" type="mes:SecurityType" xmlns:mes="http://messageheader.kfd.gpb.ru"/>
    <xs:element name="Source" type="xs:string" />
    <xs:element name="MessageId" type="bas:UUIDType" xmlns:bas="http://basetypes.kfd.gpb.ru"/>
    <xs:element name="CorrelationId" type="bas:UUIDType" xmlns:bas="http://basetypes.kfd.gpb.ru"/>

    <xs:complexType name="SecurityType">
        <xs:sequence>
            <xs:element ref="xd:Signature" xmlns:xd="http://www.w3.org/2000/09/xmldsig#"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DestinationType">
        <xs:simpleContent>
            <xs:extension base="bas:SourceType" xmlns:bas="http://basetypes.kfd.gpb.ru">
                <xs:attribute type="bas:CustomBooleanType" name="waitingReceipt" default="No" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

</xs:schema>