src/main/webapp/xsd/paymentdoc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://paymentdoc.kfd.gpb.ru" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:import schemaLocation="basetypes.xsd" namespace="http://basetypes.kfd.gpb.ru"/>

  <xs:element name="PaymentOrderRub" type="pay:PaymentOrderRubType" xmlns:pay="http://paymentdoc.kfd.gpb.ru"/>

  <xs:complexType name="PaymentOrderRubType">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element name="ObjectID" type="bas:UUIDType" xmlns:bas="http://basetypes.kfd.gpb.ru"/>
      <xs:element type="bas:LocalIDSetType" name="LocalIDSet" xmlns:bas="http://basetypes.kfd.gpb.ru" maxOccurs="unbounded" />
      <xs:element type="xs:date" name="OrderDate"/>
      <xs:element type="xs:string" name="OrderNo"/>
      <xs:element type="xs:date" name="ValueDate"/>
      <xs:element type="xs:string" name="Debit"/>
      <xs:element type="xs:string" name="Credit"/>
      <xs:element type="xs:string" name="RubAmt"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>