src/main/webapp/xsd/receipt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="http://receipt.kfd.gpb.ru" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:import schemaLocation="basetypes.xsd" namespace="http://basetypes.kfd.gpb.ru"/>

    <xs:element name="State" type="xs:string"/>
    <xs:element name="ObjectType" type="xs:string"/>
    <xs:element name="Final" type="xs:boolean"/>
    <xs:element name="ObjectID" type="bas:UUIDType" xmlns:bas="http://basetypes.kfd.gpb.ru"/>
    <xs:element type="bas:LocalIDSetType" name="LocalIDSet" xmlns:bas="http://basetypes.kfd.gpb.ru"/>
    <xs:element name="Description">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value = "2000"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="Flag" type="xs:byte"/>



</xs:schema>