src/main/resources/wsdl/testWsdl.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/testWsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="testWsdl" targetNamespace="http://localhost/testWsdl/">
  <wsdl:message name="operation1Request">
    <wsdl:part name="test1" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="operation1Response">
    <wsdl:part name="test1resp" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="operation2Request">
  	<wsdl:part name="operation2Request" type="xsd:int"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="operation2Response">
  	<wsdl:part name="operation2Response" type="xsd:int"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="testWsdl">
    <wsdl:operation name="operation1">
      <wsdl:input message="tns:operation1Request"/>
      <wsdl:output message="tns:operation1Response"/>
    </wsdl:operation>
    <wsdl:operation name="operation2">
    	<wsdl:input message="tns:operation2Request"></wsdl:input>
    	<wsdl:output message="tns:operation2Response"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="testWsdlHTTP" type="tns:testWsdl">
    <http:binding verb="POST"/>
    <wsdl:operation name="operation1">
      <http:operation location="/NewOperation"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="testWsdl">
    <wsdl:port binding="tns:testWsdlHTTP" name="testWsdlHTTP">
      <http:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
